<div class="container py-3">
  <h2>TODO</h2>

  <div class="card custom-card mb-4">
    <div class="card-body px-0 py-0">
      <div class="form-group d-flex justify-space-between" style="gap: 8px">
        <input
          type="text"
          placeholder="Add new Todo"
          class="form-control"
          id="task"
          [(ngModel)]="newTask"
          (keyup.enter)="addTask()"
          (keypress)="validateInput($event)"
        />
        <button class="btn btn-primary ml-2" (click)="addTask()">
          <button class="btn btn-primary ml-2" (click)="addTask()">
            <i class="bi bi-plus-lg"></i>
          </button>
        </button>
      </div>
    </div>
  </div>
  <div class="card custom-card">
    <span>Todo´s</span>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let task of tasks | async">
        <div class="task-item">
          <div>
            <label class="task-checkbox">
              <input
                type="checkbox"
                [(ngModel)]="task.completed"
                (change)="toggleTask(task.id)"
              />
              <span class="checkmark"></span>
            </label>
            <span [ngClass]="{ 'completed-task': task.completed }">{{
              task.description
            }}</span>
          </div>
          <i class="bi bi-check-lg check-icon" *ngIf="task.completed"></i>
          <button
            *ngIf="!task.completed"
            class="btn btn-danger btn-sm float-right"
            (click)="deleteTask(task.id)"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
